<app-header></app-header>
<div class="container table-content">
    <h5>Student details</h5>
    <div class="row">
        <div class="col-3">
            <span>Student Roll No.: </span>
            <span>{{studentData?.rollNumber}}</span>
        </div>
        <div class="col-3">
            <span>Student Name: </span>
            <span>{{studentData?.name}}</span>
        </div>
        <div class="col-3">
            <span>Email id: </span>
            <span>{{studentData?.email}}</span>
        </div>
    </div>
</div>
